VITE_SUPABASE_URL="https://SEU-PROJETO.supabase.co"
VITE_SUPABASE_PUBLISHABLE_KEY="SUA_ANON_KEY"
VITE_SUPABASE_PROJECT_ID="SEU_PROJECT_ID"
VITE_PAYMENTS_API_BASE_URL="http://localhost:8081"
VITE_ENABLE_INTERNAL_ADMIN_PAGES="false"
VITE_FEATURE_AUTOMATIONS="true"
VITE_FEATURE_MARKETPLACE_OPS="true"
VITE_FEATURE_PREMIUM_SUPPORT="true"
